header {
  border-bottom: 2px solid mediumslateblue;
  background-color: ghostwhite;
  height: 40px; /* 왜 %가 안 먹히지 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}