.memo {
  padding: 20px;
  word-break: keep-all;
  word-wrap: break-word;
  text-align: right;
  white-space: pre-wrap; /* http://htglss.tistory.com/31, https://www.codingfactory.net/10597 */
}

.content {
  /* min-height: 100px; */
  text-align: left;
  word-break: break-all;
}

.from {
  text-align: right;
  margin-top: 15px;
  color: gray;
  font-size: 13px;
}

.memo-bt {
  border: none;
  cursor: pointer;
  position: relative;
  /* right: -20px; */
  top: -10px;
  font-weight: bold;
  border-radius: 3px;
}

.memo-bt:focus {
  outline: none;
}