.paper {
  border: 2px solid;
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 200px;
  grid-template-rows: 50px auto;
}

.title {
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.write-bt {
  border: none;
  cursor: pointer;
}

.write-bt:focus {
  outline: none;
}
