@font-face {
  font-family: 'Spoqa Han Sans';
  src: url('./fonts/Spoqa\ Han\ Sans\ Bold.ttf');
}

.scroll * {
  position: relative; /* z-index는 position이 지정된 요소에만 적용됨 */
  overflow: auto; /* https://stackoverflow.com/questions/9519841/why-does-this-css-margin-top-style-not-work 아직 이해는 못함.. */
  /* margin: 10px; 아니 왜 여기다 마진을 주면 자식 요소들에게 마진이 생기는 거지!!!! << A. 부모 자식이니까 상속해주지! */
  font-family: 'Spoqa Han Sans';
}

.ellipse {
  display: inline-block;
  width: 50px;
  height: 100px;
  border-radius: 25px / 50px; /* 엥 / 썼을 때랑 안 썼을 때랑 다르다..! */
  border: 2px solid;
  z-index: 3;
}

.ellipse.right {
  margin-left: -25px;
  z-index: 1;
}

.side {
  display: inline-block;
  /* margin-top: -100px; */
  margin-left: -25px;
  width: 150px;
  height: 100px;
  border: 2px solid;
  border-right-width: 0px;
  z-index: 2;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 25px;
}

.flex-container * {
  margin: 0px;
}

.scroll-title {
  font-weight: bold;
}
