.scroll * {
  position: relative; /* z-index는 position이 지정된 요소에만 적용됨 */
  overflow: auto; /* https://stackoverflow.com/questions/9519841/why-does-this-css-margin-top-style-not-work 아직 이해는 못함.. */
}

.ellipse {
  display: inline-block;
  width: 100px;
  height: 200px;
  border-radius: 50px / 100px; /* 엥 / 썼을 때랑 안 썼을 때랑 다르다..! */
  border: 2px solid;
  z-index: 3;
}

.ellipse.right {
  margin-left: -50px;
  z-index: 1;
}

.side {
  display: inline-block;
  /* margin-top: -100px; */
  margin-left: -50px;
  width: 300px;
  height: 200px;
  border: 2px solid;
  border-right-width: 0px;
  z-index: 2;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 50px;
}
